.experience-section {
  padding: 60px 0;
  max-width: 800px;
  margin: 0 auto;
}

.experience-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-item {
  display: block;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.experience-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


.experience-header {
  position: relative;
  margin-bottom: 15px;
}

.experience-header h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.arrow-icon {
  position: absolute; /* Position relative to the header */
  top: 0; /* Align at the top */
  right: 0; /* Align to the right */
  font-size: 1.0rem;
  transition: transform 0.2s ease;
}

.experience-company {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.experience-time {
  font-style: italic;
  color: #666;
}

.experience-description {
  padding-left: 20px;
  margin-bottom: 15px;
}

.experience-description li {
  margin-bottom: 5px;
}

.experience-link {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.experience-row {
  display: grid;
  grid-template-columns: 100px auto; /* Fixed width for logo column */
  align-items: center;
  gap: 20px;
  border: none;
}

.logo-column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.details-column {
  display: flex;
  flex-direction: column;
}

.experience-logo {
  width: auto;
  height: auto;
  object-fit: contain;
}

.section__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}